<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
                <input type="button" class="btn btn-outline-success mt-2 mb-2" value="Home" (click)="librarianHomePage()">
                <form action="" #addbookform='ngForm' (ngSubmit)='addBook(addbookform)' class="form-container">
                        <h1 style="text-align: center;color: white" class="bg-dark"> Add Book</h1>
    
                        <div class="form-group" >
                            <input type="number" name='bookId' #bookid='ngModel' [ngModel]="UserService.selectedBook.bookId"  class="form-control" placeholder="Enter Book Id Here">
                        </div>
                        <div class="form-group">
                            <input type="text" name='bookName' #bookName='ngModel' [(ngModel)]="UserService.selectedBook.bookName"  class="form-control" placeholder="Enter Book Name Here">
                        </div>
                        <div class="form-group">
                                <input type="text" name='authorName' #authorName='ngModel' [(ngModel)]="UserService.selectedBook.authorName"  class="form-control" placeholder="Enter Author Name Here">
                            </div>
                            <div class="form-group">
                                <input type="text" name='publisher' #publisher='ngModel' [(ngModel)]="UserService.selectedBook.publisher"  class="form-control" placeholder="Enter publication">
                            </div>
                            <div class="form-group">
                                <input type="date" name="yop" id="" #yop='ngModel' [(ngModel)]="UserService.selectedBook.yop" class="form-control" placeholder="Enter year of publication">
                            </div>
                            
                               
                        <div class="form-group">
                            <button type="reset" class="btn btn-danger col-md-6 form-control">Reset</button>
                            <button type="submit" class="btn btn-success col-md-6 form-control float-right">Add Book</button>
                        </div>
                    </form>
        </div>

    </div>
</div>

