<div class="container mt-2 mb-2">
    <div class="col md-8 mt-2 card card-body">
<table class="table table-bodered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Request</th>
            <th>update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of UserService.users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><input type="button" class="btn btn-outline-secondary" value="Update" (click)="updateUser(user)"></td>
            <td><input type="button" class="btn btn-outline-warning" value="Remove" (click)="removeUser(user)"></td>
        </tr>
    </tbody>
</table>
</div>
