


<div class="div1" >       
        <div class="jumbotron">
                <h1 class="display-4">Hello</h1>
                <p class="lead">Welcome to tyss Library</p>
                <!-- <button class="btn btn-primary my-2 my-sm-0" *ngIf="!loginService.isUserLoggedIn()" (click)="login()">Login</button>
                <a class="btn btn-primary" *ngIf="loginService.isUserLoggedIn()" routerLink="/logout">Logout</a> -->
                <button class="btn btn-primary my-2 my-sm-0" (click)="login()">Login</button>
              </div> 
</div>

